﻿<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">



<div class="form-group">
	<h1>Hi {{currentUser.firstName}}!</h1>
	<p><a [routerLink]="['/login']">Logout</a></p>
</div>

<br>

<div class="form-inline">
	<label >Emirates ID: </label> 
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input id="emiratesID"  matInput placeholder="" [(ngModel)]="emiID" [ngClass]="{ 'is-invalid': submitted && f.emiratesID.errors }" />
	<div *ngIf="submitted && f.emiratesID.errors" class="invalid-feedback">
		<div *ngIf="f.emiratesID.errors.required">Emirates ID is required</div>
	</div>
</div>


<br>

<form class="form-inline">
	<div class="form-group">
		<button margin:10x class="col-md-2" [disabled]="loading" (click)="searchID()" class="btn btn-primary mr-3" href="#">Search</button>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button margin:10x class="col-md-5" [disabled]="loading" (click)="clear()" class="btn btn-outline-primary" href="#">Clear</button>
	</div>
</form>

<br>
<br>

<div class="form-group">
	<br>
	<textarea id="divConsent" hidden=true rows="3" cols="80">I hereby give my consent that all the details shared are true to my knowledge.</textarea>
</div>


<div class="form-inline">
	
	<label hidden=true id="lblfName">Name:</label> 
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input hidden=true id="inpfName" matInput placeholder="" [(ngModel)]="inputfName">
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	<label hidden=true id="lblAge">Age:</label>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input hidden=true id="inpAge"  matInput placeholder="" [(ngModel)]="inputAge">
	
	<br><br>

	<label hidden=true id="lblGender">Gender:</label> 
	&nbsp;&nbsp;&nbsp;
	<input hidden=true id="inpGender"  matInput placeholder="" [(ngModel)]="inputGender">
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	<label hidden=true id="lblNationality">Nationality:</label>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input hidden=true id="inpNationality"  matInput placeholder="" [(ngModel)]="inputNationality">
	
	<br><br>

	<label hidden=true id="lblSignature" >Signature:</label> 
	&nbsp;&nbsp;&nbsp;
	<textarea hidden=true id="txtboxSignature" rows="2" cols="35"> Sign Here </textarea>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</div>



<!--<div>
	<label>PDF src</label>
	<input type="text" placeholder="PDF src" [(ngModel)]="pdfSrc">
</div>
<pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;"></pdf-viewer>
-->
<br>

<div class="form-group">
	<div class="form-group" id="divgenPDF" hidden=true>
		<br>
		<button id="btngeneratePDF" (click)="generatePDF('_op.pdf')" class="btn btn-primary">Show Form</button>
	</div>
</div>

<div class="form-group">
	<div class="form-group" id="divRegister" hidden=true>
		<br>
		<button id="btnRegister" (click)="register()" class="btn btn-primary">Register</button>
	</div>
</div>

	